/* Updates for IE */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    .getting-started .template-menu img {
        width: 32px;
    }
    .getting-started .active-template::after {
        position: relative;
        top: 16px;
    }
    .getting-started .download-template::after {
        background-size: 16px 16px;
        background-repeat: no-repeat;
    }
}
